<div class="card shadow rounded" style="background-color: #ffffff;">
    <form method="post" action="/updateSteam/">
        <div class="card-header" style="background-color: #6200ee;color: #ffffff;">
            <img src="https://png.icons8.com/metro/1600/steam.png" width="30" height="30">
            How many players are playing at <i class="font-weight-bold"><%= settings.data.name %></i> ?
            <div class="checkbox checkbox-slider--b-flat">
                <label>
                    <input style="-webkit-appearance: none" type="checkbox" id="sState" name="sState" <%= settings.state ? 'checked' : '' %>><span></span>
                </label>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="id">Change Game:</label>
                <input class="form-control" type="number" name="id" id="id" autofocus/>
                <small id="emailHelp" class="form-text text-muted">Only provide the id of the game.</small>
            </div>
            <div class="form-group">
                <label for="id">Timer:</label>
                <input class="form-control" type="number" name="sTimer" id="sTimer" min="5" autofocus/>
                <small id="emailHelp" class="form-text text-muted">Number of seconds between each widget refresh.</small>
            </div>
        </div>
        <div class="card-footer text-right">
            <input class="btn btn-link" type="submit" value="Save"/>
        </div>
    </form>
</div>
