<div class="card shadow rounded">
    <div class="card-header" style="background-color: #6200ee;color: #ffffff;">
        <img src="/youtube-icon.png" width="30" height="30">
        Number of subscribers for <i class="font-weight-bold"><%= subscribers.data.name %></i>
    </div>
    <div class="card-body text-center">
        Channel <i class="font-weight-bold"><%= subscribers.data.name %></i> has <i class="font-weight-bold"><%= subscribers.data.subs %></i> subscribers.
    </div>
</div>
