<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
    </head>
    <body style="background-color: #00796b">
        <nav class="navbar sticky-top navbar-light shadow" style="background-color: #004c40;">
            <form method="post" action="/signout/" name="signoutForm">
                <a class="navbar-brand" style="color: #ffffff" href="#" onclick="document.signoutForm.submit()">Logout</a>
            </form>
            <form method="post" action="/settings/" name="settingsForm">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-cog" style="color: #ffffff" onclick="document.settingsForm.submit()"></i></a>
                    </li>
                </ul>
            </form>
        </nav>
        <%if (widget.meteo.state == true) { %>
            <div class="card shadow p-3 mb-5 rounded" style="background-color: #48a999;">
                <div class="card-body">
                    <%= widget.meteo.data.city %>
                    <%= widget.meteo.data.temp + '°C'%>
                    <% if (widget.meteo.data.state == "Clear") { %>
                        <img src="http://www.vues.du.ciel.free.fr/wp-content/uploads/dsc00690.jpg">
                    <% } %>
                </div>
            </div>
        <% } %>
    </body>
</html>