<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <%if (widget.etage > 10) { %>
            <p>Vous etes tres haut!</p>
        <% } %>
        <%if (widget.meteo.state == true) { %>
            <p>Create Widget</p> <!-- widget.meteo.data.city or .temperature .state -->
        <% } %>
    </body>
</html>