<!DOCTYPE html>
<html>
    <head>
        <title>Etages</title>
    </head>
    <body>
        <%if (widget.etage > 10) { %>
            <p>Vous etes tres haut!</p>
        <% } %>
    </body>
</html>